
.flex{
  display: flex;
}

.cards{
  flex-direction: column;
  padding-bottom: 10px;
  width:220px;
  padding:10px 15px;
  margin: 10px 0;
  background: white;
  border:2px solid black;
}

.cards>h1{
  margin:10px 0;
  font-size:24px;
  font-weight:bold;
  color:rgb(56, 54, 54);
}

.pokemonImage{
  align-self: center;
  margin: 10px 0 20px;
}

.number{
  color:gray;
}

.kind{
  background:rgb(196, 196, 243);
  padding:4px;
  border-radius: 10px;
  color:white;
}
.type{
  width:80%;
  gap:5px;
}

.fire{
  background-color: orange;
}

.bug{
  background-color: rgb(95, 204, 95);
}

.flying{
  background:linear-gradient(180deg,rgb(115, 221, 240),gray);
}

.water{
  background-color: rgb(88, 124, 192);
}

.poison{
  background-color: rgb(177, 144, 207);
}

.pokemonRow{
  width:70%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

