
.flex{
  display: flex;
}

.cards{
  flex-direction: column;
  padding-bottom: 10px;
  width:220px;
  padding:10px 15px;
  margin: 10px 0;
  background: white;
  cursor: pointer;
  border-radius:20px;
  transition: all 1s;
}

.cards>h1{
  margin:10px 0;
  font-size:24px;
  font-weight:bold;
  color:rgb(56, 54, 54);
}

.pokemonImage{
  align-self: center;
  margin: 10px 0 20px;
}

.number{
  color:gray;
}

.kind{
  background:rgb(196, 196, 243);
  padding:4px;
  border-radius: 10px;
  color:white;
  width:45%;
  text-align: center;
  font-size:12px;
}
.type{
  gap:4px;
}

.cards:hover{
  box-shadow: 2px 2px 20px  rgb(243, 42, 136);
  transform: translateY(-10px);
}


.pokemonRow{
  width:70%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: white;
}

